@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900");
}

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900");
}


:root  > * {
  --md-primary-fg-color:        rgb(0, 85, 140);
  --md-typeset-color:           rgb(0, 85, 140);
  --md-text-font-family:        "Poppins",-apple-system,BlinkMacSystemFont,"Ubuntu","Roboto","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  --md-footer-bg-color:       #041836;
}

.md-header {
  background-color: var(--md-primary-bg-color);
  color: var(--md-primary-fg-color);
}

.md-content, .md-typeset {
  color: var(--md-primary-fg-color);
  font-weight: 400;
  font-size: 0.9rem;
  font-stretch: 100%;
  line-height: 1.7;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3 {
  color: var(--md-primary-fg-color);
  font-weight: 700;
  line-height: 1.25;

}

.md-typeset h1 {
  font-size: 1.6rem;
  margin: 0 0 0.6em;
}

.md-typeset h2 {
  font-size: 1.15rem;
  margin: 1.8em 0 0.9em;
}

/* .md-typeset h3 {
  font-size: 1rem;
  margin: 1.5em 0 0.75em;
} */

.md-typeset a {
  text-decoration: underline;
}

.md-typeset a:focus, .md-typeset a:hover {
    color: #0c818f;
    text-decoration-color: #2dccd3;
}

.md-nav {
  color: rgb(96, 103, 112);
  font-weight: 500;
}

[data-md-component="header-topic"] {
  font-weight: 700;
}

.md-header--shadow {
  box-shadow: 0 0 .1rem #0000001a,0 .1rem .2rem #0003;
  transition: transform .25s cubic-bezier(.1,.7,.1,1),box-shadow .25s;
}

.md-sidebar--secondary .md-sidebar__scrollwrap {
  border-left: 1px solid rgb(218, 221, 225);
}

@media screen and (min-width: 60em) {
  .md-search .md-search__form {
    background-color: rgb(235, 237, 240);
    border-radius: .8rem;
    height: 1.8rem;
  }
}

.md-search__form label.md-search__icon {
  color:            rgb(68, 73, 80);
}

.md-search__form input::placeholder {
  color: #bec3c9;
}
